.display__container__items__card {
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .card__title {
    .card__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        margin: 0;
        background-color: #00b83e;
        color: #ffffff;
        font-weight: 700;
        font-size: 0.8rem;
        padding: 0.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.6rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .order__num {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .date {
        opacity: 0.7;
        font-weight: 400;
      }
    }
  }
  .card__body {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        display: flex;
        gap: 0.5rem;
        text-transform: capitalize;
        p {
          margin: 0;
          font-weight: bold;
        }
      }
    }
    
  }
}
.food-item{
  ul{
    list-style: disc;
  }
}

.card-btn {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.cancel,
.completed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.cancel {
  background-color: #ff0000;
  button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #ff0000;
    cursor: pointer;
  }
}
.completed {
  background-color: #00b83e;
  button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #00b83e;
    cursor: pointer;
  }
}
