@mixin snackBar() {
  position: fixed;
  top: 1rem;
  max-width: 33rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 2rem;
  text-align: center;
  border-radius: 0.4rem;
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.11),
    rgba(255, 255, 255, 0.11)
  );
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  @media screen and (max-width: 700px) {
    width: 90%;
    padding: 0 0.5rem;
  }
  @media screen and (max-width: 450px) {
    width: 80%;
    padding: 0 0.5rem;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @media screen and (max-width: 400px) {
      font-size: 0.875rem;
      gap: 0.2rem;
      text-align: left;
    }
  }
  .close {
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfe6e9;
  padding: 2rem 0rem;
  @media screen and (max-width: 770px) {
    padding: 2rem 2rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2rem 1rem;
  }
}

.payment__error {
  @include snackBar();
  background-color: rgb(215, 69, 69);
}
.payment__success {
  @include snackBar();
  background-color: #61a564;
}

.payment__loading {
  @include snackBar();
  justify-content: flex-start;
  gap: 1rem;
  background-color: #37a1db;
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .loader {
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid #ffffff;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.form {
  background-color: #ffffff;
  max-width: 40rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 770px) {
    margin: auto 2rem;
  }
  @media screen and (max-width: 400px) {
    margin: auto 1rem;
  }
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  .form__title {
    text-align: center;
    text-transform: uppercase;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem 2rem 2rem;
    .form__control {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      label {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .invalid-feedback {
        color: red;
        font-size: 0.8rem;
      }
      input,
      textarea,
      select {
        width: 100%;
        padding: 0.7rem 1rem;
        font-family: inherit;
        font-size: 1rem;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      textarea {
        height: 10rem;
      }
      .is-invalid {
        border: 1px solid red;
      }
    }
    button {
      background: #2d3436;
      display: inline-block;
      cursor: pointer;
      border: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem;
      transition: background-color 100ms ease-in;
      cursor: pointer;
    }
  }
}
