<div class="container">
  <div class="payment__error" *ngIf="paymentError">
    <div class="info">
      <span class="material-icons"> info </span>
      <p>{{ error }}</p>
    </div>
    <span class="material-icons close" (click)="onClose()"> close </span>
  </div>
  <div class="payment__success" *ngIf="paymentSuccess">
    <div class="info">
      <span class="material-icons"> check_circle </span>
      <p>{{ success }}</p>
    </div>
    <span class="material-icons close" (click)="onClose()"> close </span>
  </div>
  <div class="payment__loading" *ngIf="paymentLoading">
    <div class="loader"></div>
    <p>Processing payment...</p>
  </div>
  <form class="form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <h1 class="form__title">Place order</h1>
    <div class="form__container">
      <!-- <div class="form__control">
        <label for="Foodname">Food Name</label>
        <input
          type="text"
          placeholder="Enter food"
          name="foodName"
          id="foodname"
          formControlName="foodName"
        />
      </div> -->
      <div class="form__control">
        <label for="name">Name</label>
        <input
          type="text"
          placeholder="Enter your name"
          name="name"
          id="name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">Name is required</div>
        </div>
      </div>
      <div class="form__control">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          placeholder="Enter Your Phone number"
          name="phoneNumber"
          id="phoneNumber"
          formControlName="phoneNumber"
          [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
        />
        <div
          *ngIf="submitted && f['phoneNumber'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['phoneNumber'].errors['required']">
            phone number is required
          </div>
          <div *ngIf="f['phoneNumber'].errors['maxlength']">
            phone number should have 10 characters
          </div>
        </div>
      </div>
      <div class="form__control">
        <label for="location">Location</label>
        <input
          type="text"
          placeholder="Enter Your Location"
          name="location"
          id="location"
          formControlName="location"
          [ngClass]="{ 'is-invalid': submitted && f['location'].errors }"
        />
        <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
          <div *ngIf="f['location'].errors['required']">
            location is required
          </div>
        </div>
      </div>

      <!-- <div class="form__control">
        <label for="comment">Extra comments</label>
        <textarea
          type="text"
          placeholder="Add any additional comments"
          name="comment"
          id="comment"
          formControlName="comments"
        ></textarea>
      </div> -->
      <div class="form__control">
        <label for="network">Mobile Network</label>

        <select
          name="paymentoption"
          id="paymentoption"
          formControlName="paymentoption"
        >
          <option value="MTN">MTN</option>
          <option value="AIRTELTIGO">AIRTELTIGO</option>
          <option value="VODAFONE">VODAFONE</option>
        </select>
      </div>

      <div class="form__control">
        <label for="comment">Amount</label>
        <input
          type="text"
          placeholder="amount"
          name="amount"
          id="amount"
          formControlName="amount"
          [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
          readonly
        />
        <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
          <div *ngIf="f['amount'].errors['required']">amount is required</div>
        </div>
      </div>

      <button type="submit">Place Order</button>
    </div>
  </form>
</div>
