<!--POPUP MODAL-->
<div class="modal" *ngIf="modalOpen">
  <div class="popup center">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="title">Success!!</div>
    <div class="description">
      Thank you for your order. Please wait while the delivery guy attends to
      you😊
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup-btn" (click)="onCloseModal()">Dismiss</button>
    </div>
  </div>
</div>
<!--END POPUP MODAL-->
<div class="form-container">
  <nav class="navbar">
    <div class="navbar__logo">
      <img src="../../assets/salad.png" alt="company logo" />
    </div>
    <div class="navbar__links">
      <ul>
        <li><a routerLink="/">Home</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="payment__error" *ngIf="paymentError">
      <div class="info">
        <span class="material-icons"> info </span>
        <p>{{ error }}</p>
      </div>
      <span class="material-icons close" (click)="onClose()"> close </span>
    </div>
    <div class="payment__success" *ngIf="paymentSuccess">
      <div class="info">
        <span class="material-icons"> check_circle </span>
        <p>{{ success }}</p>
      </div>
      <span class="material-icons close" (click)="onClose()"> close </span>
    </div>
    <div class="payment__loading" *ngIf="paymentLoading">
      <div class="loader"></div>
      <p>{{ paymentReason }}</p>
    </div>
    <form class="form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h1 class="form__title">Place order</h1>
      <div class="form__container">
        <div class="form__control">
          <label for="foodOrdered">Food Name</label>
          <input
            type="text"
            placeholder="Enter food"
            name="foodOrdered"
            id="foodOrdered"
            formControlName="foodOrdered"
            readonly
          />
        </div>
        <div class="form__control">
          <label for="name">Name</label>
          <input
            type="text"
            placeholder="Enter your name"
            name="name"
            id="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
          </div>
        </div>
        <div class="form__control">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            placeholder="Enter Your Phone number"
            name="phoneNumber"
            id="phoneNumber"
            formControlName="phoneNumber"
            [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
          />
          <div
            *ngIf="submitted && f['phoneNumber'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['phoneNumber'].errors['required']">
              phone number is required
            </div>
            <div *ngIf="f['phoneNumber'].errors['maxlength']">
              phone number should have 10 characters
            </div>
          </div>
        </div>
        <div class="form__control">
          <label for="location">Location</label>
          <input
            list="location_lists"
            placeholder="Enter or choose the closest location"
            name="location"
            id="location"
            formControlName="location"
            [ngClass]="{ 'is-invalid': submitted && f['location'].errors }"
            (change)="onCalculateFee($event)"
          />
          <datalist id="location_lists">
            <option
              *ngFor="let city of locations"
              value="{{ city.name }}"
            ></option>
          </datalist>
          <div
            *ngIf="submitted && f['location'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['location'].errors['required']">
              location is required
            </div>
          </div>
          <div
            *ngIf="!(submitted && f['location'].errors) && invalidLocation"
            class="invalid-feedback"
          >
            <div>Select a valid location</div>
          </div>
        </div>

        <div class="form__control">
          <label for="numberOfPacks">Number of packs</label>
          <input
            type="number"
            min="1"
            name="numberOfPacks"
            id="numberOfPacks"
            formControlName="numberOfPacks"
            (change)="calculateAmount($event)"
          />
        </div>
        <div class="form__control">
          <label for="note">Notes </label>
          <textarea
            type="text"
            placeholder="Add any additional comments or any allergies..."
            name="note"
            id="note"
            formControlName="note"
          ></textarea>
        </div>
        <div class="form__control">
          <label for="comment">Delivery Fee</label>
          <input
            type="text"
            placeholder="deliveryFee"
            name="deliveryFee"
            id="deliveryFee"
            formControlName="deliveryFee"
            readonly
          />
        </div>
        <div class="form__control">
          <label for="comment">Amount</label>
          <input
            type="text"
            placeholder="amount"
            name="amount"
            id="amount"
            formControlName="amount"
            [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
            readonly
          />
          <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
            <div *ngIf="f['amount'].errors['required']">amount is required</div>
          </div>
        </div>

        <button type="submit">Place Order</button>
      </div>
    </form>
  </div>
</div>
