<main class="container">
  <nav class="navbar">
    <div class="navbar__logo">
      <img src="../../assets/salad.png" alt="company logo" />
    </div>
    <div class="navbar__links">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#">About</a></li>
        <!-- <li><a href="#">Contact Us</a></li> -->
      </ul>
    </div>
    <div class="navbar__right">
      <a href="#menu">
        <button class="navbar__right__button">Order now</button>
      </a>
    </div>
  </nav>
  <div class="body">
    <div class="body__intro" id="home">
      <div class="body__intro__left">
        <h1>Healthy food to make a healthier lifestyle</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
          voluptatibus dolorem iste commodi quia accusamus praesentium
          aspernatur omnis, provident, possimus ipsum alias quis atque facere
          placeat aliquam modi? Esse, dolor.
        </p>
        <div class="body__intro__buttons">
          <button class="order__now">Order now</button>
          <button class="our__menu">Explore our menu</button>
        </div>
      </div>
      <div class="body__intro__right">
        <img src="../../assets/beans and egg.jpg" alt="beans and egg" />
      </div>
    </div>
    <div class="body__middle">
      <div class="body__intro">
        <div class="body__intro__right">
          <img src="../../assets/beans and egg.jpg" alt="beans and egg" />
        </div>
        <div class="body__intro__left">
          <h1>Nothing brings people together like good food</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
            voluptatibus dolorem iste commodi quia accusamus praesentium
            aspernatur omnis, provident, possimus ipsum alias quis atque facere
            placeat aliquam modi? Esse, dolor.
          </p>
        </div>
      </div>
    </div>
    <div class="body__menu" id="menu">
      <h1>Our Menu</h1>
      <div class="menu__container">
        <div class="menu__meal__card" *ngFor="let item of foodArray">
          <div class="card__image">
            <img src="{{ item.image }}" alt="{{ item.alt }}" />
          </div>
          <div class="card__body">{{ item.body }}</div>
          <div class="card__price">
            <h4>{{ "GHS " + item.price }}</h4>
            <button (click)="onProceedToOrderPage(item.id)">order now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
