<main class="display__container">
  <h1 class="title">Delivered Orders</h1>
  <div class="display__container__items">
    <!-- <div
      class="display__container__items__card"
      *ngFor="
        let item of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
    >
      <div class="card__title">
        <ul>
          <div class="card__header">
            <li class="order__num">Order #{{ item }}</li>
            <p>delivered</p>
          </div>

          <li class="date">22 Feb 2021 08:00 AM</li>
        </ul>
      </div>
      <div class="card__body">
        <ul>
          <li>Name of person</li>
          <li>Food Ordered</li>
          <li>Phone Number</li>
          <li>Location</li>
          <li>Price</li>
          <li>Extra comments if any</li>
        </ul>
      </div>
    </div>
  </div> -->
    <!-- <ul>
    <li *ngFor="let item of item$ | async">
      {{ item }}
    </li>
  </ul> -->
    <div
      class="display__container__items__card"
      *ngFor="let item of item$ | async"
    >
      <div class="card__title">
        <ul>
          <div class="card__header">
            <li class="order__num">Order #{{ item.orderId }}</li>
            <p>delivered</p>
          </div>

          <li class="date">{{ item.date | date: "medium" }}</li>
        </ul>
      </div>
      <div class="card__body">
        <ul>
          <li>
            <p>Name:</p>
            {{ item.name }}
          </li>
          <li>
            <p>Food:</p>
            {{ item.foodOrdered }}
          </li>
          <li>
            <p>Phone number:</p>
            {{ item.phoneNumber }}
          </li>
          <li>
            <p>Location:</p>
            {{ item.location }}
          </li>
          <li *ngIf="item.note || item.note !== ''">
            <p>Note:</p>
            {{ item.note }}
          </li>
          <li>
            <p>Number of Packs:</p>
            {{ item.numberOfPacks }}
          </li>
          <li>
            <p>Delivery Fee:</p>
            GHS {{ item.deliveryFee }}
          </li>
          <li>
            <p>Price Of food:</p>
            GHS {{ item.priceOfFood }}
          </li>
          <li>
            <p>Price:</p>
            GHS {{ item.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
